{% extends 'admin/admin.html' %}
{% load static %}
<title>
{% block title %}Addmin Dashboard{% endblock title %}
</title>

{% block content %}
      <!-- ----main---- -->


    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Money</p>
                    <h5 class="font-weight-bolder">
                      $53,000
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+55%</span>
                      since yesterday
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Users</p>
                    <h5 class="font-weight-bolder">
                      2,300
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+3%</span>
                      since last week
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">New Clients</p>
                    <h5 class="font-weight-bolder">
                      +3,462
                    </h5>
                    <p class="mb-0">
                      <span class="text-danger text-sm font-weight-bolder">-2%</span>
                      since last quarter
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Sales</p>
                    <h5 class="font-weight-bolder">
                      $103,430
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+5%</span> than last month
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Sales overview</h6>
              <p class="text-sm mb-0">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">4% more</span> in 2021
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>

        <!-- ----RESENT ORDERS--- -->
        <div class="col-md-5 mt-4">
            <div class="card h-100 mb-4">
              <div class="card-header pb-0 px-3">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="mb-0">resent Orders</h6>
                  </div>
                  <!-- <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <i class="far fa-calendar-alt me-2"></i>
                    <small>23 - 30 March 2020</small>
                  </div> -->
                </div>
              </div>
              <div class="card-body pt-4 p-3">
                <!-- <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Newest</h6> -->
                <ul class="list-group">
                  
                  {% for user in users %}

                  <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    <div class="d-flex align-items-center">
                      <div class="d-flex flex-column">
                        <h6 class="mb-1 text-dark text-sm">{{user}}</h6>
                        <span class="text-xs">Accout created at: {{user.date_joined}}</span>
                      </div>
                    </div>
                    
                    {% if user.is_rejected == False%}
                    <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                      Active
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                      Blocked
                    </div>
                    {% endif %}
                      
                    
                  </li>
                  {% endfor %}
                  

                    
                    
                </ul>
              </div>
            </div>
          </div>


      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-2">New Orders</h6>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center ">
                <tbody>
                  
                  {% for order in order_detail %}
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <!-- <div>
                          <img src="{% static 'admin/assets/img/icons/flags/US.png' %}" alt="Country flag">
                        </div> -->
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Order Number:</p>
                          <h6 class="text-sm mb-0">{{order.order.order_number}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Product:</p>
                        <h6 class="text-sm mb-0">{{order.products}}</h6>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">variant:</p>
                        <h6 class="text-sm mb-0">{{order.variation}}</h6>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Quantity:</p>
                        <h6 class="text-sm mb-0">{{order.quantity}}</h6>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Amount:</p>
                        <h6 class="text-sm mb-0">{{order.price}}</h6>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <div class="d-flex">
                          <a href="#" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Our Products</h6>
              <p>Number of products: {{total_products}}</p>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">

                
                {% for product in products|slice:"5" %}
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                    <div class="d-flex align-items-center">
                      
                        <div>
                            <img style="width:8rem ; height:8rem ;border-radius :5px" src="{{product.image.url}}" alt="{{product}}">
                        </div>
                      <div class="d-flex flex-column">
                        <h6 class="mb-1 text-dark text-sm">{{product}}</h6>
                        <span class="text-xs"> in {{product.category}}, <span class="font-weight-bold">346+ sold</span></span>
                      </div>
                  
                    </div>
                    <div class="d-flex">
                      <a href="{% url 'view-product' product.id %}" class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></a>
                    </div>
                  </li>
                {% endfor %}
                    
                

               

              </ul>
            </div>
          </div>
        </div>
      </div>
      div
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>


    <!-- admin trial -->

    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <div class="card widget h-100">
              <div class="card-header d-flex">
                  <h6 class="card-title">
                      Sales Chart
                      <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip" title="Daily orders and sales"></a>
                  </h6>
                  <div class="d-flex gap-3 align-items-center ms-auto">
                      <div class="dropdown">
                          <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true" aria-expanded="false">
                              <i class="bi bi-three-dots"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                              <a href="#" class="dropdown-item">View Detail</a>
                              <a href="#" class="dropdown-item">Download</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="d-md-flex align-items-center mb-3">
                      <div class="d-flex align-items-center">
                          <div class="display-7 me-3">
                              <i class="bi bi-bag-check me-2 text-success"></i> $10.552,40
                          </div>
                          <span class="text-success">
                          <i class="bi bi-arrow-up me-1 small"></i>8.30%
                      </span>
                      </div>
                      <div class="d-flex gap-4 align-items-center ms-auto mt-3 mt-lg-0">
                          <select class="form-select">
                          <optgroup label="2020">
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                          </optgroup>
                          <optgroup label="2021">
                              <option value="January">January</option>
                              <option value="February">February</option>
                              <option value="March">March</option>
                              <option value="April">April</option>
                              <option value="May" selected>May</option>
                              <option value="June">June</option>
                              <option value="July">July</option>
                              <option value="August">August</option>
                              <option value="September">September</option>
                              <option value="October">October</option>
                              <option value="November">November</option>
                              <option value="December">December</option>
                          </optgroup>
                      </select>
                      </div>
                  </div>
                  <div id="sales-chart"></div>
                  <div class="d-flex justify-content-center gap-4 align-items-center ms-auto mt-3 mt-lg-0">
                      <div>
                          <i class="bi bi-circle-fill mr-2 text-primary me-1 small"></i>
                          <span>Sales</span>
                      </div>
                      <div>
                          <i class="bi bi-circle-fill mr-2 text-success me-1 small"></i>
                          <span>Order</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-12">
          <div class="card widget h-100">
              <div class="card-header d-flex">
                  <h6 class="card-title">
                      Channels
                      <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip" title="Channels where your products are sold"></a>
                  </h6>
                  <div class="d-flex gap-3 align-items-center ms-auto">
                      <div class="dropdown">
                          <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true" aria-expanded="false">
                              <i class="bi bi-three-dots"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                              <a href="#" class="dropdown-item">View Detail</a>
                              <a href="#" class="dropdown-item">Download</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div id="sales-channels"></div>
                  <div class="row text-center mb-5 mt-4">
                      <div class="col-4">
                          <div class="display-7">48%</div>
                          <div class="text-success my-2 small">
                              <i class="bi bi-arrow-up me-1 small"></i>30.50%
                          </div>
                          <div class="d-flex align-items-center justify-content-center">
                              <i class="bi bi-circle-fill text-orange me-2 small"></i>
                              <span class="text-muted">Social Media</span>
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="display-7">30%</div>
                          <div class="text-danger my-2 small">
                              <i class="bi bi-arrow-down me-1 small"></i>15.20%
                          </div>
                          <div class="d-flex align-items-center justify-content-center">
                              <i class="bi bi-circle-fill text-cyan me-2 small"></i>
                              <span class="text-muted">Google</span>
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="display-7">22%</div>
                          <div class="text-success my-2 small">
                              <i class="bi bi-arrow-up me-1 small"></i>1.80%
                          </div>
                          <div class="d-flex align-items-center justify-content-center">
                              <i class="bi bi-circle-fill text-indigo me-2 small"></i>
                              <span class="text-muted">Email</span>
                          </div>
                      </div>
                  </div>
                  <div class="text-center">
                      <button class="btn btn-outline-primary btn-icon">
                      <i class="bi bi-download"></i> Download Report
                  </button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12">
          <div class="card h-100">
              <div class="card-body">
                  <div class="d-flex mb-3">
                      <div class="display-7">
                          <i class="bi bi-basket"></i>
                      </div>
                      <div class="dropdown ms-auto">
                          <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true" aria-expanded="false">
                              <i class="bi bi-three-dots"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                              <a href="#" class="dropdown-item">View Detail</a>
                              <a href="#" class="dropdown-item">Download</a>
                          </div>
                      </div>
                  </div>
                  <h4 class="mb-3">Orders</h4>
                  <div class="d-flex mb-3">
                      <div class="display-7">310</div>
                      <div class="ms-auto" id="total-orders"></div>
                  </div>
                  <div class="text-success">
                      Over last month 1.4% <i class="small bi bi-arrow-up"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12">
          <div class="card h-100">
              <div class="card-body">
                  <div class="d-flex mb-3">
                      <div class="display-7">
                          <i class="bi bi-credit-card-2-front"></i>
                      </div>
                      <div class="dropdown ms-auto">
                          <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true" aria-expanded="false">
                              <i class="bi bi-three-dots"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                              <a href="#" class="dropdown-item">View Detail</a>
                              <a href="#" class="dropdown-item">Download</a>
                          </div>
                      </div>
                  </div>
                  <h4 class="mb-3">Sales</h4>
                  <div class="d-flex mb-3">
                      <div class="display-7">$3.759,00</div>
                      <div class="ms-auto" id="total-sales"></div>
                  </div>
                  <div class="text-danger">
                      Over last month 2.4% <i class="small bi bi-arrow-down"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12">
          <div class="card h-100">
              <div class="card-body">
                  <div class="d-flex align-items-center mb-4">
                      <h6 class="card-title">Recent Reviews</h6>
                      <div class="dropdown ms-auto">
                          <a href="#">View All</a>
                      </div>
                  </div>
                  <div class="summary-cards">
                      <div>
                          <div class="d-flex align-items-center mb-3">
                              <div class="avatar me-3">
                                  <img src="../../assets/images/user/women_avatar5.jpg" class="rounded-circle" alt="image">
                              </div>
                              <div>
                                  <h5 class="mb-1">Amara Keel</h5>
                                  <ul class="list-inline ms-auto mb-0">
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-muted"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">(4)</li>
                                  </ul>
                              </div>
                          </div>
                          <div>I love your products. It is very easy and fun to use this panel.</div>
                      </div>
                      <div>
                          <div class="d-flex align-items-center mb-3">
                              <div class="avatar me-3">
                                  <span class="avatar-text bg-indigo rounded-circle">J</span>
                              </div>
                              <div>
                                  <h5 class="mb-1">Johnath Siddeley</h5>
                                  <ul class="list-inline ms-auto mb-0">
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">(5)</li>
                                  </ul>
                              </div>
                          </div>
                          <div>Very nice glasses. I ordered for my friend.</div>
                      </div>
                      <div>
                          <div class="d-flex align-items-center mb-3">
                              <div class="avatar me-3">
                                  <span class="avatar-text bg-yellow rounded-circle">D</span>
                              </div>
                              <div>
                                  <h5 class="mb-1">David Berks</h5>
                                  <ul class="list-inline ms-auto mb-0">
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">
                                          <i class="bi bi-star-fill text-warning"></i>
                                      </li>
                                      <li class="list-inline-item mb-0">(5)</li>
                                  </ul>
                              </div>
                          </div>
                          <div>I am very satisfied with this product.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-12">
          <div class="card h-100">
              <div class="card-body">
                  <div class="d-flex mb-4">
                      <h6 class="card-title mb-0">Customer Rating</h6>
                      <div class="dropdown ms-auto">
                          <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true" aria-expanded="false">
                              <i class="bi bi-three-dots"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                              <a href="#" class="dropdown-item">View Detail</a>
                              <a href="#" class="dropdown-item">Download</a>
                          </div>
                      </div>
                  </div>
                  <div class="text-center">
                      <div class="display-6">3.0</div>
                      <div class="d-flex justify-content-center gap-3 my-3">
                          <i class="bi bi-star-fill icon-lg text-warning"></i>
                          <i class="bi bi-star-fill icon-lg text-warning"></i>
                          <i class="bi bi-star-fill icon-lg text-warning"></i>
                          <i class="bi bi-star-fill icon-lg text-muted"></i>
                          <i class="bi bi-star-fill icon-lg text-muted"></i>
                          <span>(318)</span>
                      </div>
                  </div>
                  <div class="text-muted d-flex align-items-center justify-content-center">
                      <span class="text-success me-3 d-block">
                      <i class="bi bi-arrow-up me-1 small"></i>+35
                  </span> Point from last month
                  </div>
                  <div class="row my-4">
                      <div class="col-md-6 m-auto">
                          <div id="customer-rating"></div>
                      </div>
                  </div>
                  <div class="text-center">
                      <button class="btn btn-outline-primary btn-icon">
                      <i class="bi bi-download"></i> Download Report
                  </button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="card h-100 bg-purple">
              <div class="card-body text-center">
                  <div class="text-white-50">
                      <div class="bi bi-box-seam display-6 mb-3"></div>
                      <div class="display-8 mb-2">Products Sold</div>
                      <h5>89 Sold</h5>
                  </div>
                  <div id="products-sold"></div>
              </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="card widget h-100">
              <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="card-title">
                      Your Top Countries
                      <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip" title="Sales performance revenue based by country"></a>
                  </h5>
                  <a href="#">View All</a>
              </div>
              <div class="card-body">
                  <div class="list-group list-group-flush">
                      <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                          <div class="d-flex flex-grow-1 align-items-center">
                              <img width="45" class="me-3" src="../../assets/flags/united-states-of-america.svg" alt="...">
                              <span>United States</span>
                          </div>
                          <span>$1.671,10</span>
                      </div>
                      <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                          <div class="d-flex flex-grow-1 align-items-center">
                              <img width="45" class="me-3" src="../../assets/flags/venezuela.svg" alt="...">
                              <span>Venezuela</span>
                          </div>
                          <span>$1.064,75</span>
                      </div>
                      <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                          <div class="d-flex flex-grow-1 align-items-center">
                              <img width="45" class="me-3" src="../../assets/flags/salvador.svg" alt="...">
                              <span>Salvador</span>
                          </div>
                          <span>$1.055,98</span>
                      </div>
                      <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                          <div class="d-flex flex-grow-1 align-items-center">
                              <img width="45" class="me-3" src="../../assets/flags/russia.svg" alt="...">
                              <span>Russia</span>
                          </div>
                          <span>$1.042,00</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </div>
    </div> -->
{% endblock content %}
    