{% extends 'admin/admin.html' %}
{% load static %}

{% block title %}Customers{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>CUSTOMER TABLE</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="text-id" class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Mobile Number</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">permission</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for user in customers %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{% static 'img/team-2.jpg'" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{user.first_name}}&nbsp{{user.last_name}}</h6>
                        <p class="text-xs text-secondary mb-0">{{user.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h6 class="text-xs font-weight-bold mb-0">{{user.mobile}}</h6>
                  </td>
                  <td>
                    <h6 class="text-xs font-weight-bold mb-0">{{user.email}}</h6>
                  </td>
                  {% if user.is_active %}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">Active</span>
                      </td>
                  {% else %}
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-danger">blocked</span>
                      </td>
                  {% endif %}
                  <td class="align-middle">
                    {% if user.is_active %}
                    <a href="{% url 'customer_pickoff' user.id %}" class="text-danger font-weight-bold text-xs" >
                     <span class="badge badge-sm bg-gradient-danger">Block</span>
                    </a>
                    {% else %}
                    <a href="{% url 'customer_pickoff' user.id %}" class="text-successfont-weight-bold text-xs" >
                      <span class="badge badge-sm bg-gradient-danger">Unblock</span>
                    </a>
                    {% endif %}
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready( function () {
        $('#text-id').DataTable();
    } );
  </script>
    
{% endblock content %}
    