{% load static %}   

{% block content %}
    	<!-- Banner2 -->
	<section class="banner2 bg5 p-t-55 p-b-55">
		<div class="container">
			<div class="row">
					<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
						<div class="hov-img-zoom pos-relative">
							<img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_706,c_limit/eb0a62fc-dcba-45bc-bd7d-57eb5bec623c/men-s-shoes-clothing-accessories.png" alt="IMG-BANNER">
	
							<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
								<span class="m-text9 p-t-45 fs-20-sm">
									The 
								</span>
	
								<h3 class="l-text1 fs-35-sm">
									Jordan
								</h3>
	
								<a href="shop/?cate=Men" class="s-text4 hov2 p-t-20 ">
									View Men Collections
								</a>
							</div>
						</div>
					</div>
                	<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
						<div class="hov-img-zoom pos-relative">
							<img src="https://static.nike.com/a/images/f_auto/dpr_1.3,cs_srgb/w_706,c_limit/865cd5a8-adf6-4256-b595-3fbbcf7eb65d/women-s-shoes-clothing-accessories.png" alt="IMG-BANNER">
	
							<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
	                            <span class="m-text9 p-t-45 fs-20-sm">
									The Icon Clash Collection
								</span>
								<h3 class="l-text1 fs-35-sm">
									
								</h3>
	
								<a href="shop/?cate=Women" class="s-text4 hov2 p-t-20 ">
									View Women Collections
								</a>
							</div>
						</div>
					</div>
               
<!-- 
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
					<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
						<img src="{% static 'thedoo/images/shop-item-09.jpg ' %}" alt="IMG-BANNER">

						<div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
							<div class="t-center">
								<a href="product-detail.html" class="dis-block s-text3 p-b-5">
									Gafas sol Hawkers one
								</a>

								<span class="block2-oldprice m-text7 p-r-5">
									$29.50
								</span>

								<span class="block2-newprice m-text8">
									$15.90
								</span>
							</div>

							<div class="flex-c-m p-t-44 p-t-30-xl">
								<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
									<span class="m-text10 p-b-1 days">
										69
									</span>

									<span class="s-text5">
										days
									</span>
								</div>

								<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
									<span class="m-text10 p-b-1 hours">
										04
									</span>

									<span class="s-text5">
										hrs
									</span>
								</div>

								<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
									<span class="m-text10 p-b-1 minutes">
										32
									</span>

									<span class="s-text5">
										mins
									</span>
								</div>

								<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
									<span class="m-text10 p-b-1 seconds">
										05
									</span>

									<span class="s-text5">
										secs
									</span>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</section>
{% endblock content %}
    