{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="animsition">

	<!-- Header -->
	{% include 'thedoo/header.html' %}

	<!-- Slide1 -->
	{% include 'thedoo/slide1.html' %}

	
	<!-- New Product -->
	{% include 'thedoo/new_product.html' %}
	
	<!-- Banner2 -->
	{% include 'thedoo/banner2.html' %}

		<!-- Product with discription -->
	{% include 'thedoo/banner.html' %}
	
	<!-- Instagram -->
	<section class="instagram p-t-20">
		<div class="sec-title p-b-52 p-l-15 p-r-15">
			<h3 class="m-text5 t-center">
				New Collections
			</h3>
		</div>

		<div class="flex-w">
			
			{% for variation in variations %}
				<!-- Block4 -->
			<div class="block4 wrap-pic-w">
				<img src="{{variation.image1.url}}" alt="IMG-INSTAGRAM">

				<a href="{% url 'product_details' variation.product.slug  variation.slug %}" class="block4-overlay sizefull ab-t-l trans-0-4">
					<span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
						<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
						<span class="p-t-2">39</span>
					</span>

					<div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
						<p class="s-text10 m-b-15 h-size1 of-hidden">
								{{variation.product.description}}
						</p>

						<span class="s-text9">
							Photo by @nancyward
						</span>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</section>

	<!-- Shipping -->
	<section class="shipping bgwhite p-t-62 p-b-46">
		<div class="flex-w p-l-15 p-r-15">
			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Free Delivery Worldwide
				</h4>

				<a href="#" class="s-text11 t-center">
					Click here for more info
				</a>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
				<h4 class="m-text12 t-center">
					30 Days Return
				</h4>

				<span class="s-text11 t-center">
					Simply return it within 30 days for an exchange.
				</span>
			</div>

			<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
				<h4 class="m-text12 t-center">
					Store Opening
				</h4>

				<span class="s-text11 t-center">
					Shop open from Monday to Sunday
				</span>
			</div>
		</div>
	</section>
	<!-- Footer -->
	{% include 'thedoo/footer.html' %}
	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>





</body>
	
{% endblock content %}
	
