{% load static %}  


{% block content %}
    	<!-- New Product -->
	<section class="newproduct bgwhite p-t-45 p-b-105">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Featured Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2"> 
                    {% for variation in variations|slice:"0:8" %}   
					<div class="item-slick2 p-l-15 p-r-15 product_data">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="{{variation.image1.url}}" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									{% csrf_token %}
									<button class=" addtowishlist block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</button>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<a href="{% url 'add_cart' variation.id %}" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</a>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="{% url 'product_details' variation.product.slug  variation.slug %}" class="block2-name dis-block s-text3 p-b-5">
									{{variation}}
								</a>

								<span class="block2-price m-text6 p-r-5">
									₹{{variation.product.price}}  
								</span>
							</div>
						</div>
                        
					</div>
                    {% endfor %}
				</div>
			</div>

		</div>
		<script src="{% static 'js/updateCart/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'js/updateCart/custom.js' %}"></script>
	</section>
{% endblock content %}
    