
{% extends 'base.html' %}
    
{% block content %}
    <!-- Start Header Area -->
    {% include 'navbar.html' %}

    <!-- start banner Area -->
    {% include 'banner.html' %}

    <!-- start features Area -->
    {% include 'features_area.html' %}

	<!-- Start category Area -->
    {% include 'category.html' %}

	<!-- start product Area -->
    {% include 'product.html' %}

	<!-- Start exclusive deal Area -->
    {% include 'exclusive.html' %}

	<!-- Start brand Area -->
    {% include 'brand_area.html' %}

	<!-- Start related-product Area -->
    {% include 'star_related_product_area.html' %}

	<!-- start footer Area -->
    {% include 'footer.html' %}


{% endblock content %}
    

